.login_warp
	position: relative
	height: 100%
	min-height: 600px
	z-index: 555
	background: #fff
	.login_center
		position: absolute
		width: 960px
		height: 440px
		top: 50%
		left: 50%
		margin: -280px auto 0 -480px
		display: block
		.logo
			height: 75px
			display: block
			position: relative
			a
				font-size: 32px
				position: absolute
				top: 30px
				left: 60px
				color: #333
				&:hover
					color: #666
		.lg_main
			font-size: 0px
			position: relative
			vertical-align: top
			.left_product
				width: 560px
				display: inline-block
				*display: inline
				zoom: 1
				// background: #CCC
				height: 320px
				position: relative
				.title
					font-size: 18px
					left: 60px
					top: 0px
					position: absolute
					display: none
				ul
					width: 440px
					height: 220px
					overflow: hidden
					left: 60px
					position: absolute
					top: 35px
					li
						float: left
						display: block
						width: 110px
						height: 110px
						//background: #{$color11}
						&:hover
							opacity: 0.7
			.loginBox
				width: 400px
				display: inline-block
				*display: inline
				zoom: 1
				height: 320px
				vertical-align: top
				position: relative
				ul
					list-style: none
					margin-top: 36px
					margin-bottom: 25px
					li
						list-style: none
						display: block
						margin-bottom: 10px
						label
							display: block
							font-size: 12px
							color: #000
							padding-bottom: 5px
						input.text
							display: block
							padding: 5px 10px
							font-size: 14px
							width: 250px
							outline: none
							border: 1px solid #999
							&:focus
								border: 1px solid #333
								outline: none
				.send
					display: block
					height: 60px
					position: relative
					.loginBtn
						display: block
						border: 0px
						//background: #{$color11}
						color: #fff
						width: 98px
						height: 30px
						font-size: 14px
						text-align: center
						padding-top: 0
						&:hover
							opacity: 0.9
						&:focus
							opacity: 0.9
					.RememberMe
						display: block
						position: absolute
						top: 8px
						left: 110px
						cursor: pointer
						span
							font-size: 12px
							padding-left: 10px
							cursor: pointer
				.moreLink
					display: block
					position: absolute
					top: 240px
					left: 10px
					a
						font-size: 12px
						margin-right: 40px
						&:hover
							text-decoration: underline
	.lg_footer
		display: block
		position: absolute
		width: 100%
		bottom: 67px
		text-align: center
		ul
			list-style: none
			text-align: center
			font-size: 0px
			li
				list-style: none
				display: inline-block
				*display: inline
				zoom: 1
				a
					font-size: 14px
					padding: 10px 30px
					display: block
					&:hover
						text-decoration: underline
		p
			display: block
			text-align: center
			color: #666
