<h1>Edit develop_rails_admin_manage</h1>

<form id="edit-develop_rails_admin_manage" name="develop_rails_admin_manage">
  <div class="actions">
    <input type="submit" value="Update Manage" />
  </div>

</form>

<a href="#/index">Back</a>