<h1>New develop_rails_admin_manage</h1>

<form id="new-develop_rails_admin_manage" name="develop_rails_admin_manage">
  <div class="actions">
    <input type="submit" value="Create Manage" />
  </div>

</form>

<a href="#/index">Back</a>