html {overflow-y:scroll;}
body { font-family: Verdana, sans-serif; font-size: 12px; color:#484848; margin: 0; padding: 0; min-width: 900px; }
a{text-decoration:none;}
h1, h2, h3, h4 {font-family: "Trebuchet MS", Verdana, sans-serif;padding: 2px 10px 1px 0px;margin: 0 0 10px 0;}
#content h1, h2, h3, h4 {color: #555;}
h2, .wiki h1 {font-size: 20px;}
h3, .wiki h2 {font-size: 16px;}
h4, .wiki h3 {font-size: 13px;}
h4 {border-bottom: 1px dotted #bbb;}

/***** Layout *****/

 
#account {float:right;}

#header {min-height:5.3em;margin:0;background-color:#628DB6;color:#f8f8f8; padding: 4px 8px 20px 6px; position:relative;}
#header a {color:#f8f8f8;}
#header h1 a.ancestor { font-size: 80%; } 
 
#content { width: 75%; background-color: #fff; margin: 0px; border-right: 1px solid #ddd; padding: 6px 10px 10px 10px; z-index: 10; float: right; }
* html #content{ width: 75%; padding-left: 0; margin-top: 0px; padding: 6px 10px 10px 10px;}
/*html>body #content { min-height: 600px; }*/
#main{display: block; position: relative; }
#wrapper3 #main #content{
	float: right;
	width: 78%;
	padding: 0px;
	margin: 10px 0;
}
#sidebar{ float: left; padding: 0; margin: 0; width: 19%;}
* html body #content { height: 600px; min-height: 600px; } /* IE */

#main.nosidebar #sidebar{ display: none; }
#main.nosidebar #content{ width: auto; border-right: 0; }

#footer {clear: both; border-top: 1px solid #bbb; font-size: 0.9em; color: #aaa; padding: 5px; text-align:center; background:#fff;}

	 
/***** Tables *****/
table {font-size: 11px}
table.list { border: 1px solid #e4e4e4;  border-collapse: collapse; width: 100%; margin-bottom: 4px; }
table.list th {  background-color:#EEEEEE; padding: 4px; white-space:nowrap; }
table.list td { vertical-align: top; padding-right:10px;  text-align: center; }
table.list td.id { width: 2%; text-align: center;}
table.list td.checkbox { width: 15px; padding: 2px 0 0 0; }
table.list td.checkbox input {padding:0px;}
table.list td.buttons { width: 15%; white-space:nowrap; text-align: right; }
table.list td.buttons a { padding-right: 0.6em; }
table.list caption { text-align: left; padding: 0.5em 0.5em 0.5em 0; }
 
tr.version.closed, tr.version.closed a { color: #999; }
tr.version td.name { padding-left: 20px; }
tr.version.shared td.name { background: url(file_icon/link.png) no-repeat 0% 70%; }
tr.version td.date, tr.version td.status, tr.version td.sharing { text-align: center; white-space:nowrap; }

tr.user td { width:13%; }
tr.user td.email { width:18%; }
tr.user td { white-space: nowrap; }
tr.user.locked, tr.user.registered { color: #aaa; }
tr.user.locked a, tr.user.registered a { color: #aaa; }

table.permissions td.role {color:#999;font-size:90%;font-weight:normal !important;text-align:center;vertical-align:bottom;}

tr.wiki-page-version td.updated_on, tr.wiki-page-version td.author {text-align:center;}

tr.time-entry { text-align: center; white-space: nowrap; }
tr.time-entry td.issue, tr.time-entry td.comments { text-align: left; white-space: normal; }
td.hours { text-align: right; font-weight: bold; padding-right: 0.5em; }
td.hours .hours-dec { font-size: 0.9em; }

 
table.list tbody tr.group td { padding: 0.8em 0 0.5em 0.3em; font-weight: bold; border-bottom: 1px solid #ccc; }
table.list tbody tr.group span.count {position:relative; top:-1px; color:#fff; font-size:10px; background:#9DB9D5; padding:0px 6px 1px 6px; border-radius:3px; margin-left:4px;}
tr.group a.toggle-all { color: #aaa; font-size: 80%; font-weight: normal; display:none;}
tr.group:hover a.toggle-all { display:inline;}
a.toggle-all:hover {text-decoration:none;}

table.list tbody tr:hover { background-color:#ffffdd; }
table.list tbody tr.group:hover { background-color:inherit; }
table td {padding:2px;}
table p {margin:0;}
.odd {background-color:#f6f7f8;}
.even {background-color: #fff;}


a.sort { padding-right: 16px; background-position: 100% 50%; background-repeat: no-repeat; }
a.sort.asc  { background-image: url(file_icon/sort_asc.png); }
a.sort.desc { background-image: url(file_icon/sort_desc.png); }
 
table.messages td.author, table.messages td.created_on, table.messages td.reply-count {text-align:center;}

table.query-columns {
	border-collapse: collapse;
	border: 0;
}

td.radio_span{
	float: none;
	width:  50px;
}
span.float_left{
	float: left;
}
span.float_right{
	float: right;
}


table.filecontent { border: 1px solid #e2e2e2;  border-collapse: collapse; width:98%; background-color: #fafafa; }
table.filecontent tbody {font-family:"Liberation Mono", Courier, monospace; font-size:12px;}
table.filecontent th { border: 1px solid #e2e2e2; background-color: #eee; }
table.filecontent th.filename { background-color: #e4e4d4; text-align: left; padding:5px;}
table.filecontent tr.spacing th { text-align:center; }
table.filecontent tr.spacing td { height: 0.4em; background: #EAF2F5;}
table.filecontent th.line-num {
		border: 1px solid #e2e2e2;
		text-align: right;
		width: 2%;
		padding: 0 3px 0 0;
		color: #999;
		user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		-ms-user-select: none;
		-webkit-user-select: none;
		font-weight:normal;
}
table.filecontent th.line-num a {
		text-decoration: none;
		color: inherit;
}
table.filecontent td.line-code {padding: 0 0 0 4px;}
table.filecontent td.line-code pre {
		margin: 0px;
		white-space: pre-wrap;
		font-family:"Liberation Mono", Courier, monospace; font-size:12px;
}


/***** Diff *****/
.diff_out { background: #fcc; }
.diff_out span { background: #faa; }
.diff_in { background: #cfc; }
.diff_in span { background: #afa; }

.text-diff {
	padding: 1em;
	background-color:#f6f6f6;
	color:#505050;
	border: 1px solid #e4e4e4;
}


table.revision-info td {
		margin:  0px;
		padding: 0px;
}

div.revision-graph { position: absolute; min-width: 1px; }

div.changeset-changes ul { margin: 0; padding: 0; }
div.changeset-changes ul > ul { margin-left: 18px; padding: 0; }

li.change {
		list-style-type:none;
		background-image: url(file_icon/bullet_black.png);
		background-position: 1px 1px;
		background-repeat: no-repeat;
		padding-top: 1px;
		padding-bottom: 1px;
		padding-left: 20px;
		margin: 0;
}
li.change.folder { background-image: url(file_icon/folder_open.png); }
li.change.folder.change-A { background-image: url(file_icon/folder_open_add.png); }
li.change.folder.change-M { background-image: url(file_icon/folder_open_orange.png); }
li.change.change-A { background-image: url(file_icon/bullet_add.png); }
li.change.change-M { background-image: url(file_icon/bullet_orange.png); }
li.change.change-C { background-image: url(file_icon/bullet_blue.png); }
li.change.change-R { background-image: url(file_icon/bullet_purple.png); }
li.change.change-D { background-image: url(file_icon/bullet_delete.png); }

li.change .copied-from { font-style: italic; color: #999; font-size: 0.9em; }
li.change .copied-from:before { content: " - "}

#changes-legend { float: right; font-size: 0.8em; margin: 0; }
#changes-legend li { float: left; background-position: 5px 0; }

table.filecontent { border: 1px solid #e2e2e2;  border-collapse: collapse; width:98%; background-color: #fafafa; }
table.filecontent tbody {font-family:"Liberation Mono", Courier, monospace; font-size:12px;}
table.filecontent th { border: 1px solid #e2e2e2; background-color: #eee; }
table.filecontent th.filename { background-color: #e4e4d4; text-align: left; padding:5px;}
table.filecontent tr.spacing th { text-align:center; }
table.filecontent tr.spacing td { height: 0.4em; background: #EAF2F5;}
table.list td.filename{ padding-left: 100px !important ; text-align:  left; width: 200px}
table.list td.comments{ text-align:  left}
table.filecontent th.line-num {
		border: 1px solid #e2e2e2;
		text-align: right;
		width: 2%;
		padding: 0 3px 0 0;
		color: #999;
		user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		-ms-user-select: none;
		-webkit-user-select: none;
		font-weight:normal;
}
table.filecontent th.line-num a {
		text-decoration: none;
		color: inherit;
}
table.filecontent td.line-code {padding: 0 0 0 4px;}
table.filecontent td.line-code pre {
		margin: 0px;
		white-space: pre-wrap;
		font-family:"Liberation Mono", Courier, monospace; font-size:12px;
}

/* 12 different colors for the annonate view */
table.annotate tr.bloc-0 {background: #FFFFBF;}
table.annotate tr.bloc-1 {background: #EABFFF;}
table.annotate tr.bloc-2 {background: #BFFFFF;}
table.annotate tr.bloc-3 {background: #FFD9BF;}
table.annotate tr.bloc-4 {background: #E6FFBF;}
table.annotate tr.bloc-5 {background: #BFCFFF;}
table.annotate tr.bloc-6 {background: #FFBFEF;}
table.annotate tr.bloc-7 {background: #FFE6BF;}
table.annotate tr.bloc-8 {background: #FFE680;}
table.annotate tr.bloc-9 {background: #AA80FF;}
table.annotate tr.bloc-10 {background: #FFBFDC;}
table.annotate tr.bloc-11 {background: #BFE4FF;}

table.annotate td.revision {
		padding:0;
		text-align: center;
		width: 2%;
		padding-left: 1em;
		background: inherit;
}

table.annotate td.author {
		padding:0;
		text-align: center;
		border-right: 1px solid #d7d7d7;
		white-space: nowrap;
		padding-left: 1em;
		padding-right: 1em;
		width: 3%;
		background: inherit;
}

table.annotate td.line-code { background-color: #fafafa; }

div.action_M { background: #fd8 }
div.action_D { background: #f88 }
div.action_A { background: #bfb }
/************* CodeRay styles *************/
.syntaxhl div {display: inline;}
.syntaxhl .line-numbers {padding: 2px 4px 2px 4px; background-color: #eee; margin:0px 5px 0px 0px;}
.syntaxhl .code pre { overflow: auto }
.syntaxhl .debug { color: white !important; background: blue !important; }

.syntaxhl .annotation { color:#007 }
.syntaxhl .attribute-name { color:#b48 }
.syntaxhl .attribute-value { color:#700 }
.syntaxhl .binary { color:#509 }
.syntaxhl .char .content { color:#D20 }
.syntaxhl .char .delimiter { color:#710 }
.syntaxhl .char { color:#D20 }
.syntaxhl .class { color:#258; font-weight:bold }
.syntaxhl .class-variable { color:#369 }
.syntaxhl .color { color:#0A0 }
.syntaxhl .comment { color:#385 }
.syntaxhl .comment .char { color:#385 }
.syntaxhl .comment .delimiter { color:#385 }
.syntaxhl .complex { color:#A08 }
.syntaxhl .constant { color:#258; font-weight:bold }
.syntaxhl .decorator { color:#B0B }
.syntaxhl .definition { color:#099; font-weight:bold }
.syntaxhl .delimiter { color:black }
.syntaxhl .directive { color:#088; font-weight:bold }
.syntaxhl .doc { color:#970 }
.syntaxhl .doc-string { color:#D42; font-weight:bold }
.syntaxhl .doctype { color:#34b }
.syntaxhl .entity { color:#800; font-weight:bold }
.syntaxhl .error { color:#F00; background-color:#FAA }
.syntaxhl .escape  { color:#666 }
.syntaxhl .exception { color:#C00; font-weight:bold }
.syntaxhl .float { color:#06D }
.syntaxhl .function { color:#06B; font-weight:bold }
.syntaxhl .global-variable { color:#d70 }
.syntaxhl .hex { color:#02b }
.syntaxhl .imaginary { color:#f00 }
.syntaxhl .include { color:#B44; font-weight:bold }
.syntaxhl .inline { background-color: hsla(0,0%,0%,0.07); color: black }
.syntaxhl .inline-delimiter { font-weight: bold; color: #666 }
.syntaxhl .instance-variable { color:#33B }
.syntaxhl .integer  { color:#06D }
.syntaxhl .key .char { color: #60f }
.syntaxhl .key .delimiter { color: #404 }
.syntaxhl .key { color: #606 }
.syntaxhl .keyword { color:#939; font-weight:bold }
.syntaxhl .label { color:#970; font-weight:bold }
.syntaxhl .local-variable { color:#963 }
.syntaxhl .namespace { color:#707; font-weight:bold }
.syntaxhl .octal { color:#40E }
.syntaxhl .operator { }
.syntaxhl .predefined { color:#369; font-weight:bold }
.syntaxhl .predefined-constant { color:#069 }
.syntaxhl .predefined-type { color:#0a5; font-weight:bold }
.syntaxhl .preprocessor { color:#579 }
.syntaxhl .pseudo-class { color:#00C; font-weight:bold }
.syntaxhl .regexp .content { color:#808 }
.syntaxhl .regexp .delimiter { color:#404 }
.syntaxhl .regexp .modifier { color:#C2C }
.syntaxhl .regexp { background-color:hsla(300,100%,50%,0.06); }
.syntaxhl .reserved { color:#080; font-weight:bold }
.syntaxhl .shell .content { color:#2B2 }
.syntaxhl .shell .delimiter { color:#161 }
.syntaxhl .shell { background-color:hsla(120,100%,50%,0.06); }
.syntaxhl .string .char { color: #46a }
.syntaxhl .string .content { color: #46a }
.syntaxhl .string .delimiter { color: #46a }
.syntaxhl .string .modifier { color: #46a }
.syntaxhl .symbol .content { color:#d33 }
.syntaxhl .symbol .delimiter { color:#d33 }
.syntaxhl .symbol { color:#d33 }
.syntaxhl .tag { color:#070 }
.syntaxhl .type { color:#339; font-weight:bold }
.syntaxhl .value { color: #088; }
.syntaxhl .variable  { color:#037 }

.syntaxhl .insert { background: hsla(120,100%,50%,0.12) }
.syntaxhl .delete { background: hsla(0,100%,50%,0.12) }
.syntaxhl .change { color: #bbf; background: #007; }
.syntaxhl .head { color: #f8f; background: #505 }
.syntaxhl .head .filename { color: white; }

.syntaxhl .delete .eyecatcher { background-color: hsla(0,100%,50%,0.2); border: 1px solid hsla(0,100%,45%,0.5); margin: -1px; border-bottom: none; border-top-left-radius: 5px; border-top-right-radius: 5px; }
.syntaxhl .insert .eyecatcher { background-color: hsla(120,100%,50%,0.2); border: 1px solid hsla(120,100%,25%,0.5); margin: -1px; border-top: none; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }

.syntaxhl .insert .insert { color: #0c0; background:transparent; font-weight:bold }
.syntaxhl .delete .delete { color: #c00; background:transparent; font-weight:bold }
.syntaxhl .change .change { color: #88f }
.syntaxhl .head .head { color: #f4f }

td.radio_span  {text-align: left !important;}
/*#sidebar{ float: left; width: 16%; position: relative; z-index: 9; min-height: 600px; padding: 0; margin: 0;}*/


#sidebar h3{
		padding: 20px;

}

#sidebar a{
		padding: 5px 0 5px 20px;
		line-height:  24px;

}

/* nav  */
div.nav{
	background-image: linear-gradient(to bottom, #ffffff, #f2f2f2) ;
	padding: 5px;
	margin: 10px 0px 10px 0px;
	font-size: 18px;
}
div.nav a{
	margin-left: 3px;
}

#content h5{
	padding: 3px;
	width: 160px;
	text-align: center;
	background-color: #D2E9FF;
}
span.author-name{
	padding: 2px 4px 2px 4px;
	margin: 3px;
	background-color: #d0d0d0;
}

#main-menu li a.selected {
		background: none repeat scroll 0 0 #FFFFFF;
		color: #555555;
}

#header {
		background-color: #507AAA;
		color: #F8F8F8;
		height: 6.2em;
		margin: 0;
		padding: 4px 8px 0 6px;
		position: relative;
}
#header h1 {
		margin-left: 0;
		margin-top: 0.3em;
}

#main-menu {
		bottom: 3px;
		left: 26px;
		margin-right: -500px;
		position: absolute;
}

#wrapper {
		background: none repeat scroll 0 0 #F1EFE2;
}
#wrapper3 {
		background: none repeat scroll 0 0 #FFFFFF;
		box-shadow: 1px 1px 5px #999999;
		margin: 0 10px;
}

#main-menu ul {
		margin: 0;
		padding: 0;
}


#main-menu li {
		float: left;
		list-style-type: none;
		margin: 0 2px 0 0;
		padding: 0;
		white-space: nowrap;
}
#main-menu li a {
		background: none repeat scroll 0 0 #507AAA;
		font-weight: bold;
		padding: 4px 10px;
}
#main-menu li a:hover {
		background: none repeat scroll 0 0 #759FCF;
}
#main-menu li a.selected {
		background: none repeat scroll 0 0 #FFFFFF;
		color: #555555;
}

